<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25271960469-s65f9nc2bieqn62rd39td66g9pqo6b9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25271960469-s65f9nc2bieqn62rd39td66g9pqo6b9b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25271960469-cn6eaqg9ikc4t1u3thead7nrmqep653m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4gIinLK4meOeLqrFuTBCLlIkh0s7ovpk</string>
	<key>GCM_SENDER_ID</key>
	<string>25271960469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatappproject.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-flutter-65c84</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-flutter-65c84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25271960469:ios:d06af3e954351ca9d46c9c</string>
</dict>
</plist>